/* 
--- 01 TYPOGRAPHY SYSTEM
--
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
500
600
700

- Line heights:
Default: 1
1.05
1.6
1.2

- Letter spacing:
Default: 1px
-0.5px
0.75px
*/

/* 
--- 02 COLORS
--
- Primary: #e67e22
- Greys: #888 #555 #333 
- Accents: 

- Tints: #fdf2e9 #fae5d3
- Shades: #cf711f
*/

/*
--- 05 SHADOWS
--
*/

/*
--- 06 BORDER-RADIUS
--
50%
9px 
*/

/*
--- 07 WHITESPACE
--
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header_logo {
  height: 2.2rem;
}

.header_navbar-lists {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header_navbar-link:link,
.header_navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.header_navbar-link:hover,
.header_navbar-link:active {
  color: #e67e22;
}

.header_navbar-link.header_navbar-link-cta:link,
.header_navbar-link.header_navbar-link-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.header_navbar-link.header_navbar-link-cta:hover,
.header_navbar-link.header_navbar-link-cta:active {
  background-color: #cf711f;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero_title {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero_description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero_btn-box {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.hero_btn-main:link,
.hero_btn-main:visited {
  background-color: #e67e22;
  color: #fff;
}

.hero_btn-main:hover,
.hero_btn-main:active {
  background-color: #cf711f;
}

.hero_btn-secondary:link,
.hero_btn-secondary:visited {
  background-color: #fff;
  color: #555;
}

.hero_btn-secondary:hover,
.hero_btn-secondary:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.hero_image {
  width: 100%;
}

.hero_delivered-meals-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero_delivered-images {
  display: flex;
}

.hero_delivered-image {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}

.hero_delivered-image:last-child {
  margin-right: 0;
}

.hero_delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero_delivered-text-color {
  color: #e67e22;
  font-weight: 700;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.featured__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  color: #888;
  margin-bottom: 2.4rem;
}

.featured__logos {
  display: flex;
  justify-content: space-between;
}

.featured__logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.section-how {
  padding: 9.6rem 0;
}

.how-1 {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.how_sub-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #e67e22;
  margin-bottom: 1.6rem;
}

.how_main-title {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 9.6rem;
}

.how-2 {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.how_step-text-box {
  align-self: center;
}

.how_step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.how_step-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.how_step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how_step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how_step-image-box::before,
.how_step-image-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.how_step-image-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -1;
}

.how_step-image-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

.how_step-image {
  width: 35%;
}
