/* 
--- 01 TYPOGRAPHY SYSTEM
--
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
500
600
700

- Line heights:
Default: 1
1.05
1.6
1.2

- Letter spacing:
Default: 1px
-0.5px
0.75px
*/

/* 
--- 02 COLORS
--
- Primary: #e67e22
- Greys: #888 #6f6f6f #555 #333 
- Accents: 

- Tints: #fdf2e9 #fae5d3
- Shades: #cf711f
*/

/*
--- 05 SHADOWS
--
*/

/*
--- 06 BORDER-RADIUS
--
50%
9px 
11px
*/

/*
--- 07 WHITESPACE
--
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/* -------------------------------------------------- */
/* ---------------------------------------- */
/* ------------------------------ */
/* Reusable Components */
.fixed-container-1200 {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.padding-96-0 {
  padding: 9.6rem 0;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.heading-h1 {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-h2 {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-h3 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #cf711f;
  margin-bottom: 1.6rem;
}
/* Reusable Components */
/* ------------------------------ */
/* ---------------------------------------- */
/* -------------------------------------------------- */

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.how,
.meals {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* ----- Header ----- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header_logo {
  height: 2.2rem;
}

.header_navbar-lists {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header_navbar-link:link,
.header_navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.header_navbar-link:hover,
.header_navbar-link:active {
  color: #e67e22;
}

.header_navbar-link.header_navbar-link-cta:link,
.header_navbar-link.header_navbar-link-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.header_navbar-link.header_navbar-link-cta:hover,
.header_navbar-link.header_navbar-link-cta:active {
  background-color: #cf711f;
}

/* ----- Hero ----- */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero_title {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero_description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero_btn-box {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.hero_btn-main:link,
.hero_btn-main:visited {
  background-color: #e67e22;
  color: #fff;
}

.hero_btn-main:hover,
.hero_btn-main:active {
  background-color: #cf711f;
}

.hero_btn-secondary:link,
.hero_btn-secondary:visited {
  background-color: #fff;
  color: #555;
}

.hero_btn-secondary:hover,
.hero_btn-secondary:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.hero_image {
  width: 100%;
}

.hero_delivered-meals-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero_delivered-images {
  display: flex;
}

.hero_delivered-image {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}

.hero_delivered-image:last-child {
  margin-right: 0;
}

.hero_delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero_delivered-text-color {
  color: #e67e22;
  font-weight: 700;
}

/* -------------------------------------------------- */
/* ---------------------------------------- */
/* ------------------------------ */
/* Featured */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featuredgig-heading-h2 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  color: #888;
  margin-bottom: 2.4rem;
}

.featured-logos {
  display: flex;
  justify-content: space-between;
}

.featured-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* Featured */
/* ------------------------------ */
/* ---------------------------------------- */
/* -------------------------------------------------- */

/* ----- How ----- */
.section-how {
  padding: 9.6rem 0;
}

.how_sub-title,
.meals_sub-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #e67e22;
  margin-bottom: 1.6rem;
}

.how_main-title,
.meals_main-title {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 9.6rem;
}

.how.how-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.how_step-text-box {
  align-self: center;
}

.how_step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.how_step-title,
.meals_diet-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.how_step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how_step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how_step-image-box::before,
.how_step-image-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.how_step-image-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -1;
}

.how_step-image-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

.how_step-image {
  width: 35%;
}

/* ----- Meals ----- */
.section-meals {
  padding: 9.6rem 0;
}

.meals_sub-title,
.meals_main-title {
  text-align: center;
}

.meals.meals-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 4.8rem;
}

.meals_meal-box {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals_meal-box:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translateY(-2rem);
}

.meals_meal-image {
  width: 100%;
}

.meals_meal-text-box {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meals-meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meals_meal-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.meals_meal-tag--vegetarian {
  background-color: #51cf66;
}

.meals_meal-tag--vegan {
  background-color: #94d82d;
}

.meals_meal-tag--paleo {
  background-color: #ffd43b;
}

.meals_meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meals_meal-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meals_meal-list {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meals_meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meals_meal-icon-text-highlight {
  font-weight: 500;
}

.meals_diet-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meals_diet-list {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meals_diet-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.meals_link-box {
  text-align: center;
  font-size: 1.8rem;
}

.meals_link:link,
.meals_link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}

.meals_link:hover,
.meals_link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* -------------------------------------------------- */
/* ---------------------------------------- */
/* ------------------------------ */
/* Testimonials & Gallery */
.section-testimonials-gallery {
  background-color: #fae5d3;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-image {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8em;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-image-container {
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.4s;
}

.gallery-image:hover {
  transform: scale(1.1);
}
/* Testimonials & Gallery */
/* ------------------------------ */
/* ---------------------------------------- */
/* -------------------------------------------------- */
